<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NEO</title>
    <script type="text/javascript" src="src/head.load.min.js"></script>
    <link rel="stylesheet" type="text/css" href="src/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="src/galaxy_styles.css">
    <link rel="icon" type="image/png" href="images/logo-2.png">
    <link rel="stylesheet" type="text/css" href="src/main.css">
    <link href='https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900' rel='stylesheet'>
    <script>
    paceOptions = {
        restartOnRequestAfter: false,
        ajax: true
    }
    </script>
    <script type="text/javascript" src="src/pace.min.js"></script>
    <link href="src/pace.bigcounter.css" rel="stylesheet" />
    <script type="x-shader/x-vertex" id="vertexshader">
        attribute float alpha;
        attribute float size;
        attribute vec3 ca;
        varying vec3 vColor;
        varying float vAlpha;

        void main() {
            vColor = ca;
            vAlpha = alpha;
            vec4 mvPosition = modelViewMatrix * vec4( position, 1.0 );

            gl_PointSize = size * (1.0+ 300.0 / length( mvPosition.xyz ) );
            gl_Position = projectionMatrix * mvPosition;
        }
    </script>

    <script type="x-shader/x-fragment" id="fragmentshader">
        uniform vec3 color;
        uniform sampler2D texture;
        varying vec3 vColor;
        varying float vAlpha;

        void main() {
            gl_FragColor = vec4( vColor, vAlpha );
            gl_FragColor = vAlpha * texture2D( texture, gl_PointCoord );
            //gl_FragColor = texture2D( texture, gl_PointCoord );
        }
    </script>

    <script type="text/template" id="template_project_tag_small">
        <div class="marker fade" id="tag_<%= id %>" cullings="0">
            <div class="title"><%= title %></div>
            <div class="centerer"></div>
            <img src="<%= squareUrl %>" class="coverImage" />
        </div>
    </script>
    <script src="/socket.io/socket.io.js"></script>

  </head>
  <body>
    <div id="iframeDiv" style="display: none;position:relative">
        <div id="toolbar" class="uiContainer">
            <a href="#" id="iframeSubmitButton" class="toolbarButton">Submit</a>
        </div>
        <iframe id="iframe" src="http://localhost:8080/#!{'layers':{'image':{'type':'image'_'source':'precomputed://gs://neuroglancer/s1_v0.1/image'}_'segmentation_0.2':{'type':'segmentation'_'source':'precomputed://gs://neuroglancer/s1_v0.1/segmentation_0.2'_'chunkedGraph':null_'segments':['5317835'_'9251648']}}_'navigation':{'pose':{'position':{'voxelSize':[6_6_30]_'voxelCoordinates':[6379.88037109375_5254.72705078125_1017.9990234375]}}_'zoomFactor':6}_'perspectiveOrientation':[0_-0.8134157061576843_0_0.5816833972930908]_'perspectiveZoom':665.1416330443624_'showSlices':false}" width="100%" height="100%"></iframe>
    </div>
    <div id="container"></div>
    <div>
      <button type="button" id="mute" onclick="muteSound()" name="button"><img src="images/Mute.png" border="0"></button>
      <button type="button" id="unmute" onclick="unmuteSound()" name="button"><img src="images/Unmute.png" border="0"></button>
      <button type="button" id="full-screen" onclick="fullScreen()" name="button"><img src="images/Full-Screen.png" border="0"></button>
      <button type="button" id="exit-full-screen" onclick="exitFullScreen()" name="button"><img src="images/Normal-Screen.png" border="0"></button>
    </div>
    <div id="start" class="start">
      <h1 style="font-size:70px;position:relative;left:45%;top:30%;color:black;font-weight:700">NEO</h1>
      <button type="button" name="button" id="startbtn" onclick="startGame()" style="position:relative;margin-left:39%;margin-top:15%;background:rgba(0,0,0,0.01);"><img src="images/startbtn.png"></button>
    </div>
    <div>
      <img id="neomatter" src="images/neomatter1.png">
      <img id="title-info" src="images/Title-info.png">
      <img id="currentPlayers" src="images/CurrentPlayers.png">
      <img id="coordinates" src="images/Coodinate.png">
      <img id="poe" src="images/PointofEntry.png">
      <!-- <img id="ring" src="images/ring.png"> -->
    </div>
    <canvas id="three-canvas" style="width: 100%; height: 100%"></canvas>
    <script type="text/javascript">

    var bgm;
    Pace.on('done', function(){
      Pace.off();
      bgm = new Audio("../../sound/background.mp3");
      bgm.addEventListener('ended', function() {
        this.currentTime = 0;
        this.play();
      }, false);
      bgm.play();
      bgm.volume = 0.5;
      document.getElementById("mute").style.display = "block";
      document.getElementById("full-screen").style.display = "block";
      document.getElementById("start").style.display = "block";
    });

    // Pace.on('done', function(){ Pace.off(); });
    var scriptsList = [];
    function startGame(){
    // document.getElementById("ring").style.display = "block";
      clicked("start");
      var el = document.getElementById("start");
      removeFadeOut(el, 3000);
    }

    function removeStart() {
      var start = $('#start');
      start.addClass('visuallyhidden');
      start.one('transitioned', function(e){
        start.addClass('hidden');
      });
      var el = document.getElementById("start");
      setTimeout(function() {
        el.parentNode.removeChild(el);
      }, 3000);
    }

    function removeFadeOut(el, speed) {
      var seconds = speed/1000;
      el.style.transition = "opacity" + seconds + "s linear";
      el.style.opacity = 0;
      setTimeout(function() {
        el.parentNode.removeChild(el);
      }, speed);
    }

    function muteSound(){
      bgm.pause();
      document.getElementById("mute").style.display = "none";
      document.getElementById("unmute").style.display = "block";
    }

    function unmuteSound(){
      bgm.play();
      document.getElementById("unmute").style.display = "none";
      document.getElementById("mute").style.display = "block";
    }

    function fullScreen() {
      var element = document.body;
      var requestMethod = element.requestFullScreen || element.webkitRequestFullScreen || element.mozRequestFullScreen || element.msRequestFullScreen;
      if (requestMethod) { // Native full screen.
        requestMethod.call(element);
      } else if (typeof window.ActiveXObject !== "undefined") { // Older IE.
        var wscript = new ActiveXObject("WScript.Shell");
        if (wscript !== null) {
            wscript.SendKeys("{F11}");
        }
      }
      document.getElementById("exit-full-screen").style.display = "block";
      document.getElementById("full-screen").style.display = "none";
    }

    function exitFullScreen() {
      var element = document;
      var requestMethod = element.exitFullscreen || element.mozCancelFullScreen || element.webkitExitFullscreen ||
                                                  element.msExitFullscreen;
         if (requestMethod) {
               requestMethod.call(element);
         } else {
               console.log("Oops. Request method false.");
          }
      setTimeout(setIcons, 1000);
    }

    function setIcons(){
      document.getElementById("full-screen").style.display = "block";
      document.getElementById("exit-full-screen").style.display = "none";
    }

    var socket = io();
    scriptsList.push("src/three.min.js");

    scriptsList.push("https://www.youtube.com/iframe_api"); // iframe player, to support custom touch action for youtube vid's
    scriptsList.push("src/THREE-plugins/shaders/CopyShader.js");
    scriptsList.push("src/THREE-plugins/postprocessing/EffectComposer.js");
    scriptsList.push("src/THREE-plugins/postprocessing/RenderPass.js");
    scriptsList.push("src/THREE-plugins/postprocessing/ShaderPass.js");
    scriptsList.push("src/THREE-plugins/postprocessing/MaskPass.js");
    scriptsList.push("src/THREE-plugins/shaders/HorizontalBlurShader.js");
    scriptsList.push("src/THREE-plugins/shaders/VerticalBlurShader.js");
    scriptsList.push("src/THREE-plugins/shaders/CopyShader.js");
    scriptsList.push("src/THREE-plugins/shaders/BrightnessContrastShader.js");
    scriptsList.push("src/THREE-plugins/AdditiveBlendShader.js");


    scriptsList.push("src/TweenMax.min.js");
    scriptsList.push("src/kinetic-v4.5.4.min.js");
    scriptsList.push("src/tinyColor.js");
    scriptsList.push("src/jquery-1.11.0-beta3.js");
    scriptsList.push("src/jquery.overscroll.min.js");
    scriptsList.push("src/underscore-min.js");
    scriptsList.push("src/backbone-min.js");
    scriptsList.push("src/bootstrap/js/bootstrap.min.js");
    scriptsList.push("src/jquery.cycle2.min.js");

    //scriptsList.push("src/galaxy/planets/lensflare.js");
    //scriptsList.push("src/galaxy/planets/sun.js");
    //scriptsList.push("src/galaxy/planets/testSun.js");

    scriptsList.push("src/galaxy/settings.js");
    scriptsList.push("src/galaxy/utils.js");
    scriptsList.push("src/galaxy/layout.js");
    scriptsList.push("src/galaxy/interactions.js");
    scriptsList.push("src/galaxy/cameraMotion.js");
    scriptsList.push("src/galaxy/projectTagManager.js");

    scriptsList.push("data/customized_data.php");
    scriptsList.push("src/galaxy/main.js");
    scriptsList.push("src/pollServer.js");
    scriptsList.push("src/game.js");

    head.load(scriptsList);

    </script>
  </body>
</html>
