body {
  font-family: 'Orbitron';
  margin: 0;
  padding: 0;
}

#start {
  display:none;
  position:absolute;
  z-index:10;
  width: 100%;
  height: 100%;
  animation: fadein 4s;
  -moz-animation: fadein 4s; /* Firefox */
  -webkit-animation: fadein 4s; /* Safari and Chrome */
  -o-animation: fadein 4s; /* Opera */
}

.start {
  transition: all 2s linear;
  display: block;
}

.hidden {
  display: none;
}

.visuallyhidden {
  opacity: 0;
}

#title-info {
  display: none;
  position: absolute;
  z-index: 10;
  top: 15%;
  left: 25%;
  height: 25%;
  border: none;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

#currentPlayers {
  display: none;
  position: absolute;
  z-index: 10;
  top: 25%;
  right: 20%;
  height: 10%;
  border: none;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

#coordinates {
  display: none;
  position: absolute;
  z-index: 10;
  bottom: 15%;
  right: 30%;
  height: 12%;
  border: none;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

#poe {
  display: none;
  position: absolute;
  z-index: 10;
  bottom: 18%;
  left: 22%;
  height: 8%;
  border: none;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

#neomatter {
  display: none;
  position: absolute;
  z-index: 10;
  top: 10px;
  left: 10px;
  border: none;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

#inspectBtn {
  display: none;
  position: absolute;
  z-index: 10;
  font-size: 20px;
  top: 45%;
  left: 15%;
  height: 8%;
  width: 12%;
  border: none;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

#createBtn {
  display: none;
  position: absolute;
  z-index: 10;
  font-size: 20px;
  top: 45%;
  right: 15%;
  height: 8%;
  width: 12%;
  border: none;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

#mute, #unmute {
  display:none;
  position:absolute;
  z-index:10;
  bottom:10px;
  right:10px;
  zoom:70%;
  background:rgba(0,0,0,0.01);
  border:none
}

#icon1 {
  display: block;
  position: absolute;
  z-index: 10;
  left: 5%;
  top: 30%;
  zoom: 20%;
}

#icon2 {
  display: block;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 5%;
  zoom: 20%;
}

#icon3 {
  display: block;
  position: absolute;
  z-index: 10;
  top: 70%;
  left: 5%;
  zoom: 20%;
}

#div1 {
    display: block;
    position: absolute;
    z-index: 10;
    width: 10%;
    height: 15%;;
    padding: 10px;
    top: 80%;
    right: 35%;
    border: 1px solid #aaaaaa;
}

#div2 {
    display: block;
    position: absolute;
    z-index: 10;
    width: 10%;
    height: 15%;
    padding: 10px;
    top: 40%;
    right: 15%;
    border: 1px solid #aaaaaa;
}

#div3 {
    display: block;
    position: absolute;
    z-index: 10;
    width: 10%;
    height: 15%;
    padding: 10px;
    top: 35%;
    right: 35%;
    border: 1px solid #aaaaaa;
}

#full-screen, #exit-full-screen {
  display:none;
  position:absolute;
  z-index:10;
  bottom:10px;
  right:80px;
  zoom:70%;
  background:rgba(0,0,0,0.01);
  border:none
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

#mapbg {
  margin: 0 auto;
  width: 70%;
  height: 70%;
  margin-top: 10%;
  margin-left: 15%;
}

#planetMap {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: black;
}

#backBtn {
  display: block;
  position: absolute;
  zoom: 50%;
  bottom: 10px;
  left: 10px;
}

#apoint {
  display: none;
  position: absolute;
  top: 25%;
  left: 50%;
  zoom: 50%;
}

#apoint:hover ~ #ainfo {
  display: block;
}

#ainfo {
  display: none;
  position: absolute;
  height: 20%;
  top: 25%;
  left: 54%;
}

#bpoint {
  display: none;
  position: absolute;
  top: 40%;
  left: 40%;
  zoom: 50%;
}

#bpoint:hover ~ #binfo {
  display: block;
}

#binfo {
  display: none;
  position: absolute;
  height: 20%;
  top: 40%;
  left: 44%;
}

#cpoint {
  display: none;
  position: absolute;
  top: 70%;
  left: 45%;
  zoom: 50%;
}

#cpoint:hover ~ #cinfo {
  display: block;
}

#cinfo {
  display: none;
  position: absolute;
  height: 20%;
  top: 70%;
  left: 49%;
}

#dpoint {
  display: none;
  position: absolute;
  top: 60%;
  left: 60%;
  zoom: 50%;
}

#dpoint:hover ~ #dinfo {
  display: block;
}

#dinfo {
  display: none;
  position: absolute;
  height: 20%;
  top: 60%;
  left: 64%;
}

#epoint {
  display: none;
  position: absolute;
  top: 40%;
  left: 58%;
  zoom: 50%;
}

#uppershipconsole {
    display: none;
    width: 50%;
    max-height: 15%;
    margin-left: 25%;
    position: absolute;
    z-index: 10;
    top: 0px;
    border: none;
    animation-duration: 4s;
    animation-name: slidedown;
}

#lowershipconsole {
    display: none;
    width: 50%;
    max-height: 20%;
    margin-left: 25%;
    position: absolute;
    bottom: 0px;
    z-index: 10;
    border: none;
    animation-duration: 4s;
    animation-name: slideup;
}

@keyframes slidedown {
  from {
    margin-top: -50%;
  }

  to {
    margin-top: 0;
  }
}

@keyframes slideup {
  from {
    margin-bottom: -50%;
  }

  to {
    margin-bottom: 0;
  }
}

.transparentBackgroung {
    border: none;
    position: absolute;
}
#epoint:hover ~ #einfo {
  display: block;
}

#einfo {
  display: none;
  position: absolute;
  height: 20%;
  top: 40%;
  left: 62%;
}

.red {
    background-color: red;
}
